* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main_color: #6fd2ff;
  --vice_color: #46b4e5;
  --text-color: white;
}
body {
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}
.container-sm {
  background: linear-gradient(145deg, var(--main_color), var(--vice_color));
  border-radius: 10px;
}
.zone {
  margin-top: 120px;
}

@media (max-width: 575px) {
  .zone {
    margin: 50px 20px;
  }
}
.section__main {
  position: relative;
}
.section__main .searching-bar {
  border-bottom: 1px solid var(--text-color);
  width: 50%;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 20px;
}

#input-bar {
  background: transparent;
  outline: none;
  width: 100%;
  padding: 3px 30px;
  color: var(--text-color);
  border: 0;
}
.icon-search {
  position: absolute;
  top: 25px;
  left: 0;
}

/* == css cho micro */
.microphone {
  cursor: pointer;
}
.microphone .recording-icon {
  display: none;
  width: 10px;
  height: 10px;
  background-color: #e22d2d;
  border-radius: 50%;
  animation: pulse 1.5s infinite linear;
}
.microphone.recording .recording-icon {
  display: inline-block;
}
.microphone.recording .fa-microphone {
  display: none;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 3px 0 rgba(173, 0, 0, 0.3);
  }
  65% {
    box-shadow: 0 0 3px 5px rgba(173, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 3px 5px rgba(173, 0, 0, 0);
  }
}

/* ==css cho weather */
.info-weather {
  line-height: 1;
  position: relative;
}
.iconWeather {
  position: relative;
  animation: 3.5s icon infinite;
}
@keyframes icon {
  0% {
    transform: translateX(-5%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-5%);
  }
}

.nameCity {
  font-size: 40px;
  font-weight: 300;
}

.temperature {
  font-size: 5em;
  position: relative;
}

.temperature::after {
  content: "o";
  position: absolute;
  top: 0;
  font-size: 2rem;
}

label {
  font-weight: 700;
}

.time-date {
  position: absolute;
  right: 10px;
  bottom: -50px;
}
